body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 100vw;
}

/* Icons */

.icons{
  color: black;
  font-size: 1.2rem;
}

/* Nav Styles */

.nav__sectionOne{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin: 20px;
}


.nav__sectionTwo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.nav__sectionTwo li{
  list-style: none;
  margin: 10px;
  
}

.nav__sectionTwo li a{
  text-decoration: none;
  color: black;
  
}

.carousel{
margin: 0 auto;
overflow: hidden;
max-width:100%;
position: relative;
}

.carousel__inner{
  white-space: nowrap;
  transition: ease 1s;
}

.carousel__item{
  display: inline-block;
  width: 100%;
}

.carousel__control{
  background-color: rgba(0,0,0,0.5);
  border: none;
  display: inline-block;
  position: absolute;
  height: 70px;
  width: 50px;
  top: calc(50% - 25px);
  color: #f3f3f3;
  cursor: pointer;

}

.left{
  left: 0;
}

.right{
  right: 0;
}


